p:nth-of-type(2n){
color:green;}
p:nth-of-type(4n){
text-decoration:underline;
}
p.slika+h1{
font-style:italic;
}
input[type=text]
{
background-color:grey;
}
input[type=password]
{
background-color:black;
color:white;
}
p.pass+p
{
color:blue;
}
input[type=number]
{
color:blue;
}
/*:hover{
background-color:yellow;
}
*/
/*ili ako ce da mijenja pozadinu samo tog paragrafa*/
p:hover{
background-color:yellow;
}

p:before{
content:url();
}

